h1 {
    text-align: center; 
 }

img {
     width: 100%;
     height: auto;
}

.center {
     margin: auto;
     width: 60%;
     border:1px solid rgba(0,0,0,.08);
     padding: 10px;
     margin-bottom: 20px;
     border-radius: 5px;
}
 
article {
     background-color: mintcream
}
 
.blog-content {
     line-height: 1.6;
     color: saddlebrown; 
}
 
.comment-form {
  border-top: 1px solid brown;
  padding: 5px;
}
 
.comment-form textarea {
     width: 100%;
}

section.gallery {
    display: flex; /* enable flexbox */
    flex-wrap: wrap; /* wrap the gallery pictures if the pictures don't fit*/
    justify-content: space-evenly; /* equal space between the pictures */
}

section.gallery img {
    width: 200px;
    height: 200px;
    margin: 1px;
}

.button-gallery {
    width: 120px;
}

@media screen and (max-width:500px) {
    .center {
      width:100%; /* The width is 100%, when the viewport is 500px or smaller */
    }

    section.gallery {
        flex-direction: column; /* display the pictures in the gallery in column */
    }
}
