h1 {
   text-align: center; 
}
img {
    width: 100%;
    height: 300px;
}
.center {
    margin: auto;
    width: 30%;
    border:1px solid rgba(0,0,0,.08);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

article {
    background-color: mintcream
}

.blog-content {
    line-height: 1.6;
    color: saddlebrown; 
}
