h1 {
    text-align: center; 
 }

img {
     width: 100%;
     height: 300px;
}

.center {
     margin: auto;
     width: 30%;
     border:1px solid rgba(0,0,0,.08);
     padding: 10px;
     margin-bottom: 20px;
     border-radius: 5px;
}
 
article {
     background-color: mintcream
}
 
.blog-content {
     line-height: 1.6;
     color: saddlebrown; 
}
 
.comment-form {
  border-top: 1px solid brown;
  padding: 5px;
}
 
.comment-form textarea {
     width: 100%;
}

section.gallery {
    padding: 1%;
}

section.gallery img {
    width: 24%;
    height: 120px;
}

.button-gallery {
    width: 120px;
}